.login-page
  display: flex
  flex-direction: column
  width: 100%
  height: 100dvh
  h1
    align-self: center

.login-form
  align-self: center
  height: 100dvh
  display: inline-block
  vertical-align: middle

  input[type="text"],
  input[type="password"]
    font-size: large
    padding: 0.25rem

  button[type="submit"]
    padding: 0.5rem
    margin: 0.5rem
    font-family: inherit

.login-form__fields
  display: grid
  grid-template-columns: repeat(2,max-content)
  grid-gap: 0.25rem
  label
    text-align: right

.login-form__actions
  text-align: center

.login-form__error
  font-size: large
  color: crimson
